set suspend
set autoindent
set linenumbers
set constantshow
set multibuffer
set noconvert
set positionlog
set historylog
set smarthome
set smooth
set nowrap
set softwrap
set atblanks
set tabsize 4
set morespace
set nohelp
set keycolor ,black
set statuscolor brightblack
set titlecolor ,black
set numbercolor blue

include "/usr/share/nano/*.nanorc"

bind ^Z undo all
bind ^Y redo all
bind ^J copy all
bind ^S suspend main
bind M-L gotoline main
bind F3 findnext main
bind M-Q findprevious main
bind M-W findnext main
bind M-; prevword main
bind M-: chopwordleft main
bind M-' nextword main
bind M-" chopwordright main
