set suspendable
set autoindent
set linenumbers
set constantshow
set multibuffer
set noconvert
set positionlog
set historylog
set smarthome
set softwrap
set atblanks
set tabsize 4
set nohelp
set trimblanks
set fill 72
set guidestripe 101
set zap
set keycolor ,black
set statuscolor lightblack
set titlecolor ,black
set numbercolor blue
set stripecolor ,black

include "/usr/share/nano/*.nanorc"
include "~/.nano/*.nanorc"
extendsyntax c header "#(define|undef|include|if(n?def)?|else|elif|endif|line|error|pragma)|^\s*inline\s"

bind ^Z undo all
bind ^Y redo all
bind ^J copy all
bind ^S suspend main
bind M-L gotoline main
bind F3 findnext main
bind M-Q findprevious main
bind M-W findnext main
bind M-; prevword main
bind M-: chopwordleft main
bind M-' nextword main
bind M-" chopwordright main
