"*":
  "atom-browser":
    autoPrefix: "https"
    defaultLocation: "right"
  "atom-html-preview":
    enableMathJax: true
    scrollToCursor: true
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnSave: true
    "atom-ide-diagnostics-ui":
      showDiagnosticTraces: true
    "atom-ide-terminal":
      documentationMessage: false
  "atom-latex":
    combine_typesetting_log: false
    preview_after_build: "Do nothing"
  "atom-terminal":
    app: "/usr/bin/konsole"
    args: "--workdir"
    surpressDirectoryArgument: false
  "autocomplete-plus":
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
    fileBlacklist: [
      ".*"
      "*.md"
      "*.txt"
    ]
  build:
    saveOnBuild: true
  "build-cargo":
    extCommands:
      cargoClippy: true
    jsonErrorFormat: false
  "cargo-test-runner":
    cargoBinaryPath: "/usr/bin/cargo"
    options: "-- --test-threads 1"
  "clang-format":
    fallbackStyle: "none"
  core:
    audioBeep: false
    automaticallyUpdate: false
    disabledPackages: [
      "spell-check"
      "branch-status"
      "atom-ide-terminal"
      "x-terminal"
    ]
    fileSystemWatcher: "experimental"
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "split-diff"
      "html-tab"
      "latex"
      "github"
      "graphviz-preview"
      "graphviz-preview-plus"
      "ctrl-dir-scroll"
      "atom-browser"
      "cargo-test-runner"
    ]
    projectHome: "/home/outfrost/Code/etc"
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "synthwave-sharp-syntax"
    ]
  "ctrl-dir-scroll":
    bigScrollSize: 5
  editor:
    autoIndentOnPaste: false
    fontSize: 18
    preferredLineLength: 100
    scrollPastEnd: true
    showInvisibles: true
    softTabs: false
    tabLength: 4
    tabType: "hard"
  "exception-reporting":
    userId: "d26f4246-c63b-4155-9e28-df25982b7fdf"
  "git-plus":
    experimental:
      stageFilesBeta: false
    general: {}
  github:
    viewChangesForCurrentFileDiffPaneSplitDirection: "right"
  "graphviz-preview-plus": {}
  "hey-pane":
    expandedWidth: 74
    focusDelay: 100
  "iv-terminal":
    customTexts:
      customText1: "cargo test -- --test-threads 1"
    terminalDirectory: "project-folder"
  "language-markdown":
    autoIncrementListItems: false
    removeEmptyListItems: false
  latex:
    cleanPatterns: [
      "**/*.aux"
      "**/*.aux.bak"
      "**/*.bbl"
      "**/*.bcf"
      "**/*.blg"
      "**/*.fdb_latexmk"
      "**/*.fls"
      "**/*.idx"
      "**/*.idx.bak"
      "**/*.ilg"
      "**/*.ind"
      "**/*.lof"
      "**/*.log"
      "**/*.lol"
      "**/*.lot"
      "**/*.nav"
      "**/*.snm"
      "**/*.synctex.gz"
      "**/*.toc"
      "/**/_minted-{jobname}"
      "/{output_dir}/sage-plots-for-{jobname}.tex"
      "/missfont.log"
      "/texput.log"
      "/texput.aux"
      "**/*.run.xml"
    ]
    enableShellEscape: true
    openResultAfterBuild: false
    openResultInBackground: false
    opener: "pdf-view"
  "linter-ui-default":
    panelHeight: 237
  "markdown-preview": {}
  "markdown-preview-plus":
    markdownItConfig:
      useLazyHeaders: false
    saveConfig: {}
    syncConfig: {}
  "markdown-themeable-pdf":
    enableCustomFooter: false
    enableCustomHeader: false
    enableLinkify: true
    enableTypographer: false
    enableXHTML: true
    imageQuality: 100
    openPdfInAtomWorkspace: false
  minimap:
    minimapScrollIndicator: false
  "pdf-view":
    reverseSyncBehaviour: "Disabled"
  "spell-check":
    useLocales: false
  "split-diff":
    colors:
      addedColorSide: "right"
  "terminal-tab":
    defaultLocation: "center"
  terminus:
    core:
      mapTerminalsTo: "Folder"
    customTexts:
      customText1: "cargo test -- --test-threads 1"
    style:
      animationSpeed: 4
      defaultPanelHeight: "40%"
    toggles:
      autoClose: false
      cursorBlink: false
  "vk-terminal":
    core:
      autoRunCommand: "/usr/bin/bash"
    customTexts:
      customText1: "cargo test -- --test-threads 1"
    toggles:
      cursorBlink: false
      selectToCopy: false
  welcome:
    showOnStartup: false
  whitespace: {}
  "x-terminal":
    spawnPtySettings:
      projectCwd: true
    terminalSettings:
      allowHiddenToStayActive: true
      colors:
        theme: "Standard"
      defaultOpenPosition: "Split Down"
".basic.html.text":
  editor:
    softWrap: true
    tabLength: 2
".diff.source":
  editor:
    autoIndent: false
".md.text":
  editor:
    autoIndentOnPaste: false
".plain.text":
  editor:
    softWrap: true
