"*":
  "atom-latex":
    combine_typesetting_log: false
    preview_after_build: "Do nothing"
  "atom-terminal":
    app: "/usr/bin/konsole"
    args: "--workdir"
    surpressDirectoryArgument: false
  "autocomplete-plus":
    fileBlacklist: [
      ".*"
      "*.md"
      "*.txt"
    ]
  core:
    audioBeep: false
    automaticallyUpdate: false
    disabledPackages: [
      "spell-check"
      "branch-status"
    ]
    packagesWithKeymapsDisabled: [
      "split-diff"
      "html-tab"
      "latex"
      "github"
    ]
    telemetryConsent: "limited"
  editor:
    fontSize: 13
    scrollPastEnd: true
    showInvisibles: true
    softTabs: false
    tabLength: 4
    tabType: "hard"
  "exception-reporting":
    userId: "f4579703-ec0f-424b-9c6d-c09a414a6f03"
  latex:
    cleanPatterns: [
      "**/*.aux"
      "**/*.aux.bak"
      "**/*.bbl"
      "**/*.bcf"
      "**/*.blg"
      "**/*.dvi"
      "**/*.fdb_latexmk"
      "**/*.fls"
      "**/*.idx"
      "**/*.idx.bak"
      "**/*.ilg"
      "**/*.ind"
      "**/*.lof"
      "**/*.log"
      "**/*.lol"
      "**/*.lot"
      "**/*.nav"
      "**/*.out"
      "**/*.ps"
      "**/*.snm"
      "**/*.synctex.gz"
      "**/*.toc"
      "/**/_minted-{jobname}"
      "/{output_dir}/sage-plots-for-{jobname}.tex"
      "/missfont.log"
      "/texput.log"
      "/texput.aux"
      "**/*.run.xml"
    ]
    enableShellEscape: true
    openResultAfterBuild: false
    openResultInBackground: false
    opener: "okular"
  "markdown-themeable-pdf":
    enableCustomFooter: false
    enableCustomHeader: false
    enableLinkify: true
    enableTypographer: false
    enableXHTML: true
    imageQuality: 100
    openPdfInAtomWorkspace: false
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnlyLines: true
".md.text":
  editor:
    autoIndentOnPaste: false
".plain.text":
  editor:
    softWrap: true
