# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts. Unlike style sheets however,
# each selector can only be declared once.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * http://flight-manual.atom.io/using-atom/sections/basic-customization/#_customizing_keybindings
# * http://flight-manual.atom.io/behind-atom/sections/keymaps-in-depth/
#
# If you're having trouble with your keybindings not working, try the
# Keybinding Resolver: `Cmd+.` on macOS and `Ctrl+.` on other platforms. See the
# Debugging Guide for more information:
# * http://flight-manual.atom.io/hacking-atom/sections/debugging/#check-the-keybindings
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson

'atom-workspace':
	'alt-shift-T': 'atom-terminal:open-project-root'

'atom-workspace, atom-workspace atom-text-editor':
	'ctrl-shift-e': 'markdown-themeable-pdf:export'
	'ctrl-shift-d': 'latex:build'
	'alt-s': 'latex:sync'

'atom-text-editor':
	'ctrl-up': 'editor:move-to-beginning-of-previous-paragraph'
	'ctrl-down': 'editor:move-to-beginning-of-next-paragraph'
	'ctrl-shift-up': 'editor:select-to-beginning-of-previous-paragraph'
	'ctrl-shift-down': 'editor:select-to-beginning-of-next-paragraph'
	'ctrl-shift-m': 'markdown-preview:toggle'

'atom-workspace atom-text-editor:not(.mini)[data-grammar=\'source dot\']':
	'ctrl-shift-m': 'graphviz-preview-plus:toggle'

'atom-workspace atom-text-editor:not([mini])':
	'alt-up': 'ctrl-dir-scroll:scroll-up'
	'alt-down': 'ctrl-dir-scroll:scroll-down'
	'alt-shift-up': 'ctrl-dir-scroll:scroll-up-big'
	'alt-shift-down': 'ctrl-dir-scroll:scroll-down-big'

'.platform-linux':
	'ctrl-t': 'unset!'

'body':
	'ctrl-shift-W': 'pane:reopen-closed-item'
	'ctrl-k down': 'pane:split-down-and-move-active-item'
	'ctrl-k left': 'pane:split-left-and-move-active-item'
	'ctrl-k right': 'pane:split-right-and-move-active-item'
	'ctrl-k up': 'pane:split-up-and-move-active-item'
	'ctrl-t down': 'window:focus-pane-below'
	'ctrl-t left': 'window:focus-pane-on-left'
	'ctrl-t right': 'window:focus-pane-on-right'
	'ctrl-t up': 'window:focus-pane-above'
