[Desktop Entry]
Categories=Network;
Comment=Interactive Twitch bot
Exec=konsole --profile "Outfrost quad" -e phantombot
Icon=phantombot
Name=PhantomBot
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
